<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add post</title>
    <link rel="stylesheet" href="/new.css"/>
</head>
<body>
    <header>
        <a href="http://localhost:8080/posts">
        <h1>Quora</h1>
        </a>
    </header>

    <div class="form-container">
        <form action="/posts" method="POST" >
            <input  placeholder="Enter your username" name="username" />
            <textarea placeholder="Write your post" name="content"></textarea>
            <input type="submit" value="Add Post" />
        </form>

        
        
    </body>
    </div>
</body>
</html>